.header{
    text-align: center;
    margin-top: 10px;
}
.header img{
    width: 11rem;
    margin-bottom: 1.5rem;
}

.header nav{
    text-align: left;
    background-color: black;
    line-height: 40px;
}
.header a{
    text-decoration: none;
    margin-left: 18px;
    color: #fff;
    padding: 9px;
}

.header a:hover{
    background-color: darkslategray;
}